@import "../../../styles/colors.scss";
@import "../../../styles/media.scss";

.promotion {
  width: 100%;
  background: $color_primary_two;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  color: $color_secondary;
  font-size: 4.5vw;
  cursor: default;

  @media screen and (min-width: $phone) {
    display: none;
  }

  .text_small {
    font-size: 3vw;
    transition: 100ms ease-in;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
