@import "../../../styles/colors.scss";
@import "../../../styles/media.scss";

.modal_backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background: rgba(0, 0, 0, 0.7);

  .modal {
    position: fixed;
    top: 5%;
    right: 50%;
    transform: translate(50%, 0);
    width: 60%;
    background: white;
    padding: 0.5rem;

    @media screen and (max-width: $tablet) {
      width: 85%;
    }

    @media screen and (max-width: $phone) {
      width: 100%;
      padding: unset;
    }

    .title {
      font-size: 2.2vw;
      margin-bottom: 1rem;

      @media screen and (max-width: $phone) {
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }
    }

    .size_chart {
      @media screen and (max-width: $phone) {
        width: 180%;
      }
    }

    h3 {
      @media screen and (max-width: $phone) {
        padding-left: 0.5rem;
      }
    }

    .measure_guide {
      background: $color_footer;
      padding: 0.5rem;
      font-size: 1vw;

      @media screen and (max-width: $tablet) {
        font-size: 1.5vw;
      }

      @media screen and (max-width: $phone) {
        font-size: 2.5vw;
      }
    }
  }
}
