@import "../../../styles/media.scss";

.button {
  background: rgb(1, 136, 73);
  color: white;
  padding: 0.75rem;
  font-family: inherit;
  font-size: 1.3vw;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 80ms ease-in;
  cursor: pointer;
  font-weight: bolder;

  &:hover {
    background: rgb(0, 104, 55);
  }

  @media screen and (max-width: $phone) {
    font-size: 3.8vw;
    padding: 1rem;
  }
}
