@import "../../../styles/colors.scss";

.button {
  background: $color_primary;
  color: $color_secondary;
  padding: 0.5rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.15rem;
  font-size: 2vw;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 80ms ease-in;
  cursor: pointer;
  font-weight: bolder;

  &:hover {
    background: $color_secondary;
    color: $color_primary;
  }
}
