.navbar {
  width: 100vw;
  background-color: rgb(141, 45, 36);
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;

  .title {
    display: flex;
    align-items: center;
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(243, 238, 220);

    .option {
      padding: 0.25rem;
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 120ms ease-in;

      p {
        padding-right: 0.25rem;
      }

      &:hover {
        color: white;
      }
    }

    .cart {
      background-color: rgb(155, 73, 65);
      padding: 0.5rem;
      height: 100%;

      .cart_text {
        display: flex;
        align-items: center;

        p {
          padding-left: 0.25rem;
          margin: 0;
        }
      }
    }
  }
}
