@import "../styles/media.scss";
@import "../styles/colors.scss";

.card {
  .image {
    width: 400px;
    height: 400px;
    position: relative;

    .card_info {
      position: absolute;
      width: 100%;
      background: rgba($color: #ffffff, $alpha: 0.75);
      bottom: 0;
      left: 0;

      .info_title {
        background: $color_primary;
        color: white;
        padding: 0.25rem;
        font-size: 18px;
      }

      .info_text {
        padding: 0.25rem;
        font-size: 16px;
      }
    }
  }
}
