@import "../styles/media.scss";
@import "../styles/colors.scss";

.card {
  margin-bottom: 0.5rem;

  @media screen and (min-width: $phone) {
    display: none;
  }

  .image {
    width: 600px;
    height: 20%;
    position: relative;
    z-index: -1;

    @media screen and (max-width: $phone) {
      width: 100%;
      height: 20%;
    }

    .card_info {
      position: absolute;
      width: 100%;
      background: rgba($color: #ffffff, $alpha: 0.75);
      bottom: 0;
      left: 0;

      .info_title {
        background: $color_primary;
        font-family: "Bebas Neue", cursive;
        color: white;
        padding: 0.25rem;
        font-size: 6vw;
      }

      .info_text {
        padding: 0.25rem;
        font-size: 4vw;
      }

      .info_price {
        color: $color_primary;
        font-size: 4vw;
        padding: 0 0.25rem 0.25rem 0;
        display: flex;
        justify-content: flex-end;

        p {
          margin: 0;
          color: black;
        }

        div {
          font-weight: bold;
        }
      }
    }
  }
}
