@import "../../styles/colors.scss";

.background {
  background: linear-gradient(
    90deg,
    $color_primary_two,
    $color_primary,
    $color_primary_two
  );
  position: relative;
  z-index: -1;
}
