@import "./../../styles/media.scss";
@import "./../../styles/colors.scss";

.carousel {
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5rem;

  @media screen and (min-width: $phone) {
    display: none;
  }

  .button_prev,
  .button_next {
    color: $color_primary;
    border: none;
    background: none;
    position: absolute;
    transition: 100ms ease-in;
    top: 50%;

    &:hover {
      color: $color_secondary;
    }
  }

  .button_next {
    right: 0.25rem;
  }

  .button_prev {
    left: 0.25rem;
  }

  .carousel_container {
    display: flex;

    .carousel_image_one,
    .carousel_image_two,
    .carousel_image_three {
      position: relative;
      flex: 0 0 100%;
    }

    .image_one_desc,
    .image_two_desc,
    .image_three_desc {
      position: absolute;
      margin: 0;
      font-size: 6.5vw;
    }

    .image_one_desc {
      font-family: "Bebas Neue", cursive;
      top: 0.5rem;
      left: 50%;
      transform: translate(-50%, 0);
      color: whitesmoke;
    }

    .image_two_desc {
      top: 0;
      right: 1.25rem;
      font-family: "Gwendolyn", cursive;
    }

    .image_three_desc {
      font-family: "Lobster Two", cursive;
      top: 4rem;
      left: 4rem;
      color: white;
    }
  }
}
