@import "../../styles/colors.scss";
@import "../../styles/media.scss";

.footer {
  background: $color_footer;
  padding-bottom: 1rem;

  .social_media {
    background: $color_footer;
    display: flex;
    align-items: center;
    justify-content: center;

    .social_media_text {
      font-style: italic;
      font-size: 12px;

      @media screen and (max-width: $phone) {
        display: none;
      }
    }

    .media_icon_facebook,
    .media_icon_twitter,
    .media_icon_instagram {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.5rem;

      @media screen and (max-width: $phone) {
        width: 2rem;
        height: 2rem;
      }
    }

    .media_icon_facebook {
      color: rgb(60, 90, 153);
    }

    .media_icon_instagram {
      color: rgb(132, 51, 183);
    }

    .media_icon_twitter {
      color: rgb(43, 165, 218);
    }
  }

  .column_wrapper {
    display: grid;
    margin: 0 1rem 0 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media screen and (max-width: $phone) {
      grid-template-columns: 1fr 1fr;
    }

    .column_header {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 1rem;
    }

    .link {
      margin-bottom: 0.5rem;
      font-size: 12px;
      cursor: pointer;

      @media screen and (max-width: $phone) {
        font-size: 14px;
        margin-bottom: 1rem;
      }
    }
  }
}
