@import "../../styles/colors.scss";

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;

  .card_header {
    font-size: 20px;
    padding: 0.5rem;
    font-family: "Bebas Neue", cursive;
    margin: 0;
  }

  .card_links {
    padding: 0.5rem;

    div {
      padding-bottom: 0.5rem;
      cursor: pointer;
      transition: 100ms ease-in;

      &:hover {
        color: $color_primary;
        transform: scale(1.01);
      }
    }

    .expand {
      font-weight: bold;
    }
  }
}
