@import "../../styles/media.scss";

.image {
  position: relative;
  margin-bottom: -0.3rem;
  cursor: default;

  @media screen and (max-width: $phone) {
    display: none;
  }

  .image_text_card {
    position: absolute;
    bottom: 15%;
    right: 50%;
    transform: translate(50%, 0);
    color: white;
    font-family: "Bebas Neue", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
  }

  .image_text_disclaimer {
    position: absolute;
    bottom: 0.5rem;
    right: 50%;
    transform: translate(50%, 0);
    font-size: 0.8vw;
    color: white;
    text-align: center;
  }

  .button {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 0);
  }
}
